<div class="container">
    <h3>Employee Listing</h3>
    <button class="btn btn-primary btn-sm" ng-click="employees.reload()">Reload page</button>

    <button class="btn btn-primary btn-sm" ui-sref="employeeCreate">New Employee</button>

    <i class="glyphicon glyphicon-search" ng-click="shown=!shown"></i>
    <span ng-show="shown">
        <input type="text" ng-model="employeeSearch" required minlength="4" placeholder="Search box (not coded yet)" />
    </span>


    <br/>
    <br/>
    <em>Click to see detail:</em><br/>

<!--
    <div ng-repeat="emp in employees.employeelist">
        <a ui-sref="employee.detail({user: emp.user})" >{{emp.user}}</a>
        <div>{{emp}}</div>
    </div>
-->

    <div ng-repeat="emp in employees.employeelist">
        <employee emp="emp" />
    </div>


</div>

<br/>

<ui-view/>

<br/>
<br/>

<!--{{employeedetail.employeelist | json}}-->

