<div class="container">
    <h3>Employee Listing</h3>
    <button class="btn btn-primary btn-sm" ng-click="employees.reload()">Reload page</button>


    <i class="glyphicon glyphicon-search" ng-click="shown=!shown"></i>
    <span ng-show="shown">
        <input type="text" ng-model="thetext" required minlength="4" placeholder="Search box (not yet coded)" />
    </span>


    <br/>
    <br/>

    <div ng-repeat="emp in employees.employeelist">
        <a ui-sref="employee.detail({user: emp.user})" >{{emp.user}}</a>
        <div>{{emp}}</div>
    </div>


    <br/>
    <br/>

    Using employee directive:<br/>
    <div ng-repeat="emp in employees.employeelist">
        <employee emp="emp" />
    </div>



</div>

<br/>

<ui-view/>

<!--{{employeedetail.employeelist | json}}-->

