<h1 id="header">
    <img ng-src="{{auth.profile.picture}}" class="img-circle" />
</h1>
<h2>Welcome {{auth.profile.nickname}}</h2>
<button class="btn btn-primary" ng-click="viewShipment()">View my shipments</button>
<button class="btn btn-warning" ng-click="logout()">Logout</button>
<div class="row">&nbsp;</div>
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Shipment ID</th>
        <th>Origin</th>
        <th>Destination</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="shipment in shipments">
        <td>
            {{shipment.id}}
        </td>
        <td>
            {{shipment.origin}}
        </td>
        <td>
            {{shipment.destination}}
        </td>
    </tr>
</tbody>
</table>
