<div class="container">
    <form ng-submit="login.login()">
        <div>
            <label class="control-label">Username</label>
            <input type="text" placeholder="Username" ng-model="user.username" required />
        </div>
        <div>
            <label class="control-label">Password</label>
            <input type="password" placeholder="Password" ng-model="user.password" required /><br/>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <br/>
        <div>
            <i>username:</i> admin<br/>
            <i>password:</i> admin
        </div>
    </form>
</div>

<!--TODO: Maybe do the login screen as a Modal - plus it'd show off doing Modals in angular-->
<!--http://angular-ui.github.io/bootstrap/#/modal-->
